 
#p1{
     font-size: medium;
     color: antiquewhite;
     height: 50%;
}
#p2{
     color: antiquewhite;
}
#p3{
     color: antiquewhite;
}
#p4{
     color: antiquewhite;
}
#p5{
     color: antiquewhite;
}

